In [ ]:
"""
https://www.kaggle.com/datasets/marcosfnlr/acidentes-em-rodovias-federais-20072020
"""

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_raw = pd.read_csv("dataset/acidentes2007-2020.csv", low_memory=False)

In [4]:
df_raw.head()

,Unnamed: 0,id,id_unico,dia_semana,horario,uf,br,km,municipio,causa_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,0,10,102007-06-11,segunda,15:30:00,MG,381,623.2,OLIVEIRA,falta de atenção,...,0,5,0,4,6,NaN,NaN,NaN,NaN,NaN
1,1,1032898,10328982007-08-13,segunda,14:25:00,MG,40,585.5,ITABIRITO,outras,...,1,2,0,1,1,NaN,NaN,NaN,NaN,NaN
2,2,1051130,10511302007-02-12,segunda,02:10:00,MA,135,11.0,SAO LUIS,animais na pista,...,1,0,0,3,1,NaN,NaN,NaN,NaN,NaN
3,3,1066824,10668242007-11-20,terça,05:30:00,CE,222,30.8,CAUCAIA,defeito mecânico no veículo,...,0,0,0,1,1,NaN,NaN,NaN,NaN,NaN
4,4,1069918,10699182007-12-16,domingo,17:40:00,MA,230,14.0,BARAO DE GRAJAU,outras,...,1,0,0,1,1,NaN,NaN,NaN,NaN,NaN

In [5]:
df_raw.columns

Index(['Unnamed: 0', 'id', 'id_unico', 'dia_semana', 'horario', 'uf', 'br',
       'km', 'municipio', 'causa_acidente', 'tipo_acidente',
       'classificacao_acidente', 'fase_dia', 'sentido_via',
       'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo',
       'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos',
       'ignorados', 'feridos', 'veiculos', 'latitude', 'longitude', 'regional',
       'delegacia', 'uop'],
      dtype='object')

In [8]:
print(f"O dataset tem {df_raw.shape[0]} linhas e {df_raw.shape[1]} colunas.")

O dataset tem 1851865 linhas e 31 colunas.

In [20]:
X=np.array([[1,0],[0,1]])
Y=np.array([[2,1],[1,2]]) 
Z=np.dot(X,Y)

In [21]:
Z

array([[2, 1],
       [1, 2]])